.dropdown {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.dropdown .title {
    margin-bottom: 5px;
    text-align: center;
    font-weight: normal;
}

select {
    padding: 5px;
}
