table {
  border-collapse: collapse;
  max-width: 90%;
  width: 100%;
  margin: auto;
}

table tr {
  display: flex;
  justify-content: space-evenly;
}

table th {
  border: 1px solid #ddd;
  padding: 8px;
  width: 100%;
  background-color: #2C80FF;
  color: white;
}

table a {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #F2F2F2;
  text-decoration: none;
}

table a:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

table td {
  padding: 8px;
  width: 100%;
  height: 30px;
}
