table {
    border-collapse: collapse;
    max-width: 90%;
    width: 100%;
    margin: auto;
  }
  
.rotated tr {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #DDD;
}

.rotated th {
    padding: 8px;
    width: 100%;
    background-color: #2C80FF;
    color: white;
}

.rotated td {
    padding: 8px;
    width: 100%;
    height: 30px;
    text-align: center;
}
